* {
    box-sizing: border-box;
    margin: 0px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* font-family: 'Rubik', sans-serif; */

/*----------------------------
            Header 
------------------------------*/

.header {
    background-color: #fff;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}

.nav {
    display: flex;
}

.link {
    text-align: center;
    display: block;
    padding: 15px 26px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #4E5983;
    text-decoration: none;
}

/* Как сделать, чтобы при ховере не дергались блоки меню? */

.link:hover {
    background: rgba(161, 127, 255, 0.11) ;
    border-radius: 9px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.header-authorization {
    display: flex;
}

/*-----------------------------
            Section
-------------------------------*/

.section {
    background-image: url(img/left.png),
                      url(img/left2.png),
                      url(img/right.png),
                      url(img/right2.png),
                      url(img/left3.png),
                      url(img/left4.png),
                      linear-gradient(157.1deg, #562EC2 29.59%, #A07EFE 73.59%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: auto auto, auto auto, auto auto, auto auto, auto auto, auto auto, contain;
    background-position: 0% 45%, 1% 34%, 100% 28%, 95% 40%, 3% 75%, 5% 20%;
    padding-bottom: 120px;
}

.section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 111.9%;
    text-align: center;
    color: #FFFFFF;
    max-width: 712px;
    margin-top: 113px;
    padding-bottom: 20px;
}

.section-text {
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    padding-bottom: 54px;
}

/* Converter Form */

.converter-form {
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 26px;
    display: flex;
    align-items: flex-end;
    padding: 78px 85px 76px 107px;
    position: relative;
}

.converter-form::after {
    content: '';
    width: 1038px;
    height: 18px;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 0px 0px 26px 26px;
    position: absolute;
    top: 100%;
    left: 3%;
}

.converter-form::before {
    content: '';
    position: absolute;
    width: 933px;
    height: 38px;
    background: #FFFFFF;
    opacity: 0.2;
    border-radius: 0px 0px 26px 26px;
    top: 100%;
    left: 7.7%;
}

.converter-form-give .converter-form-get {
    display: flex;
    flex-direction: column;
}

.converter-form-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #4E5983;
    padding-bottom: 25px;
}

.converter-form-title span {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: rgba(78, 89, 131, 0.4);
    vertical-align: middle;
    margin-left: 15px;
}

.converter-form-text { 
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #4E5983;
    opacity: 0.5;
}

.converter-form-calculator {
    display: flex;
    margin-top: 10px;
    border-bottom: 2px solid rgba(214, 220, 226, 0.25);
    padding-bottom: 10px;
}

.converter-form-calculator input {
    font-size: 20px;
    line-height: 24px;
    color: #094067;
    border: none;
    padding: 0px;
}

.converter-form-calculator-currency {
    display: flex;
    align-items: center;
    border-left: 1px solid #CFD4DA;
    padding-left: 10px;
}

.converter-form-calculator-currency-list {
    cursor: pointer;
    margin-left: 10px;
}

.converter-form-calculator-currency-list span {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    color: #4E5983;
    text-transform: uppercase;
}

.converter-form-calculator-currency-list span:hover {
    color: #21242d;
}

.converter-form-calculator-currency-list svg:hover {
    
}

.converter-form-calculator-currency-img-wrapper {
    margin-left: 10px; 
}

/* Converter Buttons */

.converter-form-change-button {
    max-height: 21px;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: none;
    cursor: pointer;
    margin: 0 35px 20px 35px;
}

.converter-form-change-button:hover {
    stroke: rgba(41, 47, 70, 0.4);
}

.converter-form-button {
    margin-left: 60px;
    background: linear-gradient(163.94deg, #562EC2 29.59%, #A07EFE 73.59%);
    border-radius: 9px;
    width: 157px;
    height: 55px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.converter-form-button:hover {
    background: linear-gradient(163.94deg, #562EC2 49.59%, #A07EFE 93.59%);
}

/*---------------------------
            Media
-----------------------------*/
@media (max-width: 1199px) {
    .conatiner {
        max-width: 1000px;
    }
}